* {
  box-sizing: border-box;
}

header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  height: 60px;
  width: 100%;
}

.header-logo-container {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
}

.logo {
  width: 60px;
  height: 60px;
}

.header-text-container {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 60px;
  width: 97.3%;
  height: 58px;
  padding: 0px;
  margin: 0px;
  border-top: 1px solid rgb(181, 180, 180);
  border-bottom: 1px solid rgb(181, 180, 180);
}

.header-text-container h2 {
  display: inline-block;
  position: relative;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 10px 0px 0px 10px;
}

.sign-up {
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 0px;
  margin: 0px;
  padding: 0px;
}

.sign-up a {
  text-decoration: none;
}

.sign-up a:hover {
  background-color: rgb(236, 233, 233);
  padding: 15px 0px 22px 0px;
}

.content-container {
  position: relative;
  top: 120px;
  max-width: 15%;
  min-width: 250px;
  height: 442px;
  margin: auto;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 25px;
}

.pass-thru-signin {
  border: 1px solid rgb(215, 215, 215);
  width: 100%;
  margin: 0 auto;
  padding: 0px;
}

.google {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
}

.google:hover {
  border: 1px solid #3a37ff;
  background-color: #3a37ff18;
}

.apple {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 13px;
}

.apple:hover {
  background-color: #95949432;
}

.pass-thru-signin img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  padding: 0px 0px 0px 5px;
}

.pass-thru-signin p {
  display: inline-block;
  padding: 0px 0px 0px 75px;
}

.or {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
  max-width: 100%;
  margin: auto;
}

.or::before {
  content: "";
  width: 40%;
  height: 1px;
  background: rgb(231, 231, 231);
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.or::after {
  content: "";
  width: 40%;
  height: 1px;
  background: rgb(231, 231, 231);
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.signup-form label {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #8d8989;
  padding: 0px;
  margin: 5px 0px 0px 0px;
}
.signup-form input {
  display: block;
  border: 1px solid rgb(215, 215, 215);
  height: 40px;
  width: 100%;
  padding: 10px 0px 5px 5px;
  box-sizing: border-box;
  margin: 5px auto;
  font-size: 18px;
}

.signup-form input:hover {
  border: 1px solid rgb(0, 0, 0);
}

.signup-form input:focus {
  outline: #0061fe solid 2px;
}

.signup-form button {
  display: block;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid white;
  background-color: #0061fe;
  height: 50px;
  width: 100%;
  padding: 0px;
  margin: auto;
}

.signup-form button:hover {
  background-color: #2828d3;
}

footer {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  top: 250px;
  background-color: black;
  width: 100%;
}

.footer-container {
  max-width: 100%;
  margin: auto;
  text-align: center;
}

.footer-container > div {
  color: white;
  display: inline-block;
  margin: 20px;
  text-align: left;
  vertical-align: top;
}

.footer-container ul {
  list-style-type: none;
}
.footer-container li {
  margin: 10px;
}

.footer-container a {
  text-decoration: none;
  color: white;
}

.footer-container a:hover {
  text-decoration: underline;
  color: white;
}

@media screen and (max-width: 600px) {
[class*="col-"] {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .row div {
    display: block;
  }
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .row div {
    display: inline-block;
  }
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
